<template name="register1">

<form action="#">

  
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email..." value="{{getEmail}}">
  </div>
  
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" class="form-control" id="username" placeholder="Username..." value="{{getUsername}}">
  </div>
  

  {{#unless getIdentification}}
    <div class="form-group">
      <label for="id">Identification</label>
      <input type="id" class="form-control" id="id" placeholder="Identification..." >
    </div>
  {{/unless}}
  
  
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-large" value="Submit">
  </div>
  
  
</form>




</template>
