<template name="navbar">
<nav class="navbar navbar-glass navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <small>
          <i class="fa fa-flask"></i>
          Redisc
        </small>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">
            All
          </a>
        </li>
        
        {{#each popularTags}}
        <li>
          <a href="/tags/{{this}}">
            {{this}}
          </a>
        </li>
        {{/each}}
        <!-- <li> -->
        <!--   <a href="#"> -->
        <!--     Teach -->
        <!--   </a> -->
        <!-- </li> -->
      </ul>
      
      
      <ul class="nav navbar-nav navbar-right">
        <!-- {{#if currentUser }} -->
        <!-- <li class="hidden&#45;phone"> -->
        <!--   <a href="{{pathFor 'projectNew'}}"> -->
        <!--     <i class="icon&#45;file&#45;alt"></i> -->
        <!--     New Project -->
        <!--   </a> -->
        <!-- </li> -->
        <!-- {{/if}} -->

        <!-- <li> -->
        <!--   <a href="{{pathFor 'projects'}}"> -->
        <!--     <i class="fa fa&#45;search"></i> -->
        <!--     Projects -->
        <!--   </a> -->
        <!-- </li> -->
        
        <li>
          <a href="{{pathFor 'RediscTags' tags='dev'}}">
            <i class="fa fa-code"></i>
            Dev
          </a>
        </li>
        
        <li>
          <a href="{{pathFor 'lab'}}">
            <i class="fa fa-code"></i>
            Lab
          </a>
        </li>
        
        
        {{> accountButtons}} 
        
      </ul>
    </div>
  </div>
</nav>
</template>
