<template name="RediscPostView">

{{> RediscBackButton}}

  <h2> {{getTitle}} </h2>

  {{> RediscPost root }}
  
</template>

<template name="RediscPost">

  {{#if isEdit}}
    {{> EditorWrapper }}
  {{else}}
    {{> PostWrapper }}
  {{/if}}
  
  {{#if hasChildren}}
    {{> Comments }}
  {{/if}}
  
</template>

<template name="Comments">
<ul class="comments">
  {{#each getComments}}
  <li>
  <div class="scoreWrapper">
    {{> Score }}
  </div>
  {{> RediscPost}}
  
  </li>
  {{/each}}
</ul>
</template>
