

<template name="addNewAtomBtn">

<div class="addNewAtomWrapper">
  
  {{#if isChoosing}}
    
    <div class="selectWrapper">
      {{> selectLLMDTypes}}
    </div>
    
  {{else}}
  
    {{> UI.dynamic template=template data=this}}
  
  {{/if}}
  
</div>
</template>

<template name="rightButton">
  <a href='#' class="add-btn btn-right"> <i class="fa fa-plus"></i></a>
</template>

<template name="bigButton">
  <a href='#' class="add-btn btn-big"> <i class="fa fa-plus"></i> add</a>
</template>
