<template name="RediscTags">

  {{> RediscPosts}}
</template>

<template name="RediscPosts">

  <a class="btn btn-primary right" href="{{pathFor 'RediscPostNew' tags=getTags}}">new Post</a>


<ul class="postList">
  {{#each posts}}
  <li>

  {{#with atomModel}}
    {{> Score }}
  {{/with}}

  <div class="contentContainer">
    <a href="{{pathFor 'RediscPostView'}}">
      <span class="title"> {{title}} </span>
    </a>
    <div>
      {{> Stats}}
    </div>

  </div>


  </li>
  {{/each}}
</ul>
</template>


<template name="RediscPostView">

{{> RediscBackButton}}

  <h2> {{title}} </h2>

  {{> RediscPost root }}
  
</template>

<template name="RediscPost">

  {{#if isEdit}}
    {{> EditorWrapper }}
  {{else}}
    {{> PostWrapper }}
  {{/if}}
  
  {{#if hasChildren}}
    {{> Comments }}
  {{/if}}
  
</template>

<template name="RediscBackButton">
  {{#if getTags}}
    <a href="{{pathFor 'RediscTags' tags=getTags}}">... back</a>
  {{else}}
    <a href="{{pathFor 'RediscAll'}}">... back</a>
  {{/if}}
</template>

<template name="RediscPostNew">

{{> RediscBackButton}}

<div class="newRediscWrapper">
  {{> llmd_redisc_edit }}
  <button type="submit" class="btn btn-primary save-btn"> Save </button>
  
</div>

</template>

<template name="PostWrapper">
<div class="contentWrapper">

  <div class="dataWrapper">
    {{> llmd_redisc_ast }}
  </div>
  <!-- <div class="codeWrapper"> </div> -->
  <div class="interactions">
    <a href="#" class="btn-comment" data-target="{{_id}}"> <i class="fa fa-reply"></i></a>
    <a href="#" class="btn-edit" data-target="{{_id}}"> <i class="fa fa-pencil"></i></a>
  </div>

</div>

{{> Stats getAtom}}

{{#if isComment}}
{{> EditorWrapper newCommentAtom }}
{{/if}}

</template>

<template name="EditorWrapper">
  <div class="contentWrapper">
    {{> llmd_redisc_edit }}
  </div>

  <button type="submit" class="btn btn-primary save-btn"> Save </button>
  <button class="btn btn-default cancel-btn"> Cancel </button>
</template>


<template name="Comments">
<ul class="comments">
  {{#each getComments}}
  <li>
  <div class="scoreWrapper">
    {{> Score }}
  </div>
  {{> RediscPost}}
  
  </li>
  {{/each}}
</ul>
</template>
